---
import ThemeToggle from "./ThemeToggle.astro";
import LanguagePicker from "./LanguagePicker.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const langPath = lang === "es" ? "" : `/${lang}`;

const navItems = [
  // fix urls son 3 idiomas cat, es, en
  { title: t("nav.about"), url: `${langPath}/#about` }, // FIX
  { title: t("nav.projects"), url: `${langPath}/#projects` },
  { title: t("nav.contact"), url: "mailto:elian_fl@hotmail.com" },
];
---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2 px-2"
>
  <nav
    class="flex px-3 py-1 text-sm font-medium rounded-full justify-center items-center bg-light-space/70 dark:bg-dark-space/70 backdrop-blur-md border border-gray-200 dark:border-white/10 shadow-lg gap-x-1 md:gap-x-2"
  >
    <div
      class="flex items-center border-r border-gray-200 dark:border-white/10 pr-1 md:pr-2"
    >
      {
        navItems.map((link) => (
          <a
            class="px-2 md:px-3 py-2 transition hover:text-accent-light text-xs md:text-sm whitespace-nowrap"
            href={link.url}
          >
            {link.title}
          </a>
        ))
      }
    </div>

    <div class="flex items-center gap-x-1 md:gap-x-2 pl-1">
      <LanguagePicker client:idle />
      <ThemeToggle client:load />
    </div>
  </nav>
</header>
